{{#each move}}
<li class="move-item">
    <img class="move-photo" src="{{photo}}" alt="{{title}}" />
    <h2 class="move-title">{{title}}</h2>
    <p class="move-genre">{{genre}}</p>
    <p class="move-description">{{description}}</p>
</li>
{{/each}}